*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url(bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
.navG{
    background-color: #1FC930;
    height: 80px;
    font-size: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Jomhuria", serif;
color: white;
}
.img{
    margin-right: 10px;
    padding-top: 4px;}
.center{
    display: flex;
    justify-content: center;
}
.bx1{
    border: 3px white solid;
    height: 200px;
    width: 300px;
    margin-right: 100px;
    margin-top: 200px;
padding: 20px;
font-size: 25px;
color: white;

}
.bx2{
    margin-top: 270px;
    font-size: 40px;
    color: #1FC930;

}
.bx3{
    border: 3px white solid;
    height: 200px;
    width: 300px;
    margin-left: 100px;
    margin-top: 200px;
    padding: 20px;
font-size: 25px;
color: white;

}
.b1{
    margin-left: 90px;
    margin-top: 70px;
    height: 40px;
    width: 100px;

}
.b2{
    margin-left: 70px;
    margin-top: 70px;
    height: 40px;
    width: 100px;

}