*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url(bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
.navG{
    background-color: #1FC930;
    height: 80px;
    font-size: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Jomhuria", serif;
color: white;
}
.img{
    margin-right: 10px;
    padding-top: 4px;
}
.login{
    display: flex;
    margin-left: 1350px;
    margin-top: 30px;
    background-color: white;
    width: 100px;
    height: 30px;
    justify-content: center;
    border-radius: 40px;
    font-weight: 600;
    font-size: 24px;
    font-family: "Katibeh", serif;

}
.center{
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 90px;
}
.i1{
    margin-right: 10px;
    height: 200px;
}
.txt{
    color: white;
    font-family: "Katibeh", serif;
    font-size: 30px;
    text-align: center;

}
.quote{
    color: #1FC930;
    font-size: 40px;
    font-weight: 50;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.twobut{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
}
.donate{
    border-radius: 5px;
    font-family: "Katibeh", serif;
    font-size: 40px;
    margin-right: 100px ;
    display: flex;
    justify-content: center;
    width: 200px;
}
.get{
    border-radius: 5px;
    font-family: "Katibeh", serif;
    font-size: 40px;
    margin-left: 100px ;
    display: flex;
    justify-content: center;
    width: 200px;
}
.q{
    color: white;
    text-align: center;
    margin-top: 20px;
}